.footer {
  padding: 70px;
  box-shadow: $box-shadow;
  font-size: 1.1rem;
  background-color: $main-bg;

  &__logo {
    height: 40px;
  }

  &__about {
    p {
      margin-bottom: 2rem;
      color: $txt-second-color;
    }
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  &__content {
    p {
      margin-bottom: 1rem;
      color: $txt-second-color;
    }
  }
}
